<!DOCTYPE html>
<html>

<head>
    <title>Resultados da Conferência</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            padding: 20px;
        }

        h1 {
            color: blue;
            margin-bottom: 20px;
        }

        table {
            border-collapse: collapse;
            width: 100%;
            margin-bottom: 20px;
        }

        th,
        td {
            border: 1px solid #ddd;
            padding: 5px;
            text-align: right;
        }

        th {
            background-color: #f0f0f0;
            font-weight: bold;
            text-align: center;
        }

        tr:nth-child(even) {
            background-color: #f9f9f9;
        }

        .left-align {
            text-align: left;
        }
    </style>
</head>

<body>

    <h1>Analítico de Empenhos</h1>

    <table>
        <thead>
            <tr>
                <th>EMPENHO</th>
                <th>FONTERECURSO</th>
                <th>CO</th>
                <th>EMPENHADO</th>
                <th>ANULEMPENHADO</th>
                <th>LIQUIDADO</th>
                <th>ANULIQUIDADO</th>
                <th>PAGO</th>
                <th>ANULPAGO</th>
            </tr>
        </thead>
        <tbody>
            {% set total_empenhado = 0 %}
            {% set total_anulempenhado = 0 %}
            {% set total_liquidado = 0 %}
            {% set total_anuliquidado = 0 %}
            {% set total_pago = 0 %}
            {% set total_anulpago = 0 %}
            {% for dado in dados %}
            <tr>
                <td>{{ dado[0] }}</td>
                <td>{{ dado[1] }}</td>
                <td>{{ dado[2] }}</td>
                <td>{{ "{:,.2f}".format(dado[3]).replace(',', '|').replace('.', ',').replace('|', '.') }}</td>
                <td>{{ "{:,.2f}".format(dado[4]).replace(',', '|').replace('.', ',').replace('|', '.') }}</td>
                <td>{{ "{:,.2f}".format(dado[5]).replace(',', '|').replace('.', ',').replace('|', '.') }}</td>
                <td>{{ "{:,.2f}".format(dado[6]).replace(',', '|').replace('.', ',').replace('|', '.') }}</td>
                <td>{{ "{:,.2f}".format(dado[7]).replace(',', '|').replace('.', ',').replace('|', '.') }}</td>
                <td>{{ "{:,.2f}".format(dado[8]).replace(',', '|').replace('.', ',').replace('|', '.') }}</td>
            </tr>
            {% set total_empenhado = total_empenhado + dado[3] %}
            {% set total_anulempenhado = total_anulempenhado + dado[4] %}
            {% set total_liquidado = total_liquidado + dado[5] %}
            {% set total_anuliquidado = total_anuliquidado + dado[6] %}
            {% set total_pago = total_pago + dado[7] %}
            {% set total_anulpago = total_anulpago + dado[8] %}
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3">Total</td>
                <td>{{ "{:,.2f}".format(total_empenhado).replace(',', '|').replace('.', ',').replace('|', '.') }}</td>
                <td>{{ "{:,.2f}".format(total_anulempenhado).replace(',', '|').replace('.', ',').replace('|', '.') }}
                </td>
                <td>{{ "{:,.2f}".format(total_liquidado).replace(',', '|').replace('.', ',').replace('|', '.') }}</td>
                <td>{{ "{:,.2f}".format(total_anuliquidado).replace(',', '|').replace('.', ',').replace('|', '.') }}
                </td>
                <td>{{ "{:,.2f}".format(total_pago).replace(',', '|').replace('.', ',').replace('|', '.') }}</td>
                <td>{{ "{:,.2f}".format(total_anulpago).replace(',', '|').replace('.', ',').replace('|', '.') }}</td>
            </tr>
        </tfoot>
    </table>

    <h1>Movimento de Empenhos por Fonte de Recurso e CO</h1>

    <table>
        <thead>
            <tr>
                <th>FONTERECURSO</th>
                <th>CO</th>
                <th>EMPENHADO</th>
                <th>ANULEMPENHADO</th>
                <th>LIQUIDADO</th>
                <th>ANULLIQUIDADO</th>
                <th>PAGO</th>
                <th>ANULPAGO</th>
            </tr>
        </thead>
        <tbody>
            {% for empenho in empenhos %}
            <tr>
                <td>{{ empenho[0] }}</td>
                <td>{{ empenho[1] }}</td>
                <td>{{ "{:,.2f}".format(empenho[2]).replace(',', '|').replace('.', ',').replace('|', '.') }}</td>
                <td>{{ "{:,.2f}".format(empenho[3]).replace(',', '|').replace('.', ',').replace('|', '.') }}</td>
                <td>{{ "{:,.2f}".format(empenho[4]).replace(',', '|').replace('.', ',').replace('|', '.') }}</td>
                <td>{{ "{:,.2f}".format(empenho[5]).replace(',', '|').replace('.', ',').replace('|', '.') }}</td>
                <td>{{ "{:,.2f}".format(empenho[6]).replace(',', '|').replace('.', ',').replace('|', '.') }}</td>
                <td>{{ "{:,.2f}".format(empenho[7]).replace(',', '|').replace('.', ',').replace('|', '.') }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h1>Movimentos Totalizados por Fonte de Recurso</h1>

    <table>
        <thead>
            <tr>
                <th>FONTERECURSO</th>
                <th>RECEITA</th>
                <th>ANURECEITA</th>
                <th>ENTRADABANCO</th>
                <th>SAIDABANCO</th>
                <th>ENTRADACAIXA</th>
                <th>SAIDACAIXA</th>
                <th>ENTRADACUTE</th>
                <th>SAIDACUTE</th>
                <th>EMPENHO</th>
                <th>REFORCOEMPENHO</th>
                <th>ANULEMPENHO</th>
                <th>LIQUIDACAO</th>
                <th>RETENCAO</th>
                <th>ANULIQUIDACAO</th>
                <th>ANURETENCAO</th>
                <th>PAGAMENTOEXT</th>
                <th>ANULPAGTOEXT</th>
                <th>PAGAMENTO</th>
                <th>ANULPAGAMENTO</th>
                <th>OUTRASBAIXAS</th>
                <th>ANULOUTRASBAIXAS</th>
                <th>INSCRICAORESTOS</th>
            </tr>
        </thead>
        <tbody>
            {% for fonte in fontes %}
            <tr>
                <td>{{ fonte[0] }}</td>
                <td>{{ "{:,.2f}".format(fonte[1]).replace(',', '|').replace('.', ',').replace('|', '.') }}</td>
                <td>{{ "{:,.2f}".format(fonte[2]).replace(',', '|').replace('.', ',').replace('|', '.') }}</td>
                <td>{{ "{:,.2f}".format(fonte[3]).replace(',', '|').replace('.', ',').replace('|', '.') }}</td>
                <td>{{ "{:,.2f}".format(fonte[4]).replace(',', '|').replace('.', ',').replace('|', '.') }}</td>
                <td>{{ "{:,.2f}".format(fonte[5]).replace(',', '|').replace('.', ',').replace('|', '.') }}</td>
                <td>{{ "{:,.2f}".format(fonte[6]).replace(',', '|').replace('.', ',').replace('|', '.') }}</td>
                <td>{{ "{:,.2f}".format(fonte[7]).replace(',', '|').replace('.', ',').replace('|', '.') }}</td>
                <td>{{ "{:,.2f}".format(fonte[8]).replace(',', '|').replace('.', ',').replace('|', '.') }}</td>
                <td>{{ "{:,.2f}".format(fonte[9]).replace(',', '|').replace('.', ',').replace('|', '.') }}</td>
                <td>{{ "{:,.2f}".format(fonte[10]).replace(',', '|').replace('.', ',').replace('|', '.') }}</td>
                <td>{{ "{:,.2f}".format(fonte[11]).replace(',', '|').replace('.', ',').replace('|', '.') }}</td>
                <td>{{ "{:,.2f}".format(fonte[12]).replace(',', '|').replace('.', ',').replace('|', '.') }}</td>
                <td>{{ "{:,.2f}".format(fonte[13]).replace(',', '|').replace('.', ',').replace('|', '.') }}</td>
                <td>{{ "{:,.2f}".format(fonte[14]).replace(',', '|').replace('.', ',').replace('|', '.') }}</td>
                <td>{{ "{:,.2f}".format(fonte[15]).replace(',', '|').replace('.', ',').replace('|', '.') }}</td>
                <td>{{ "{:,.2f}".format(fonte[16]).replace(',', '|').replace('.', ',').replace('|', '.') }}</td>
                <td>{{ "{:,.2f}".format(fonte[17]).replace(',', '|').replace('.', ',').replace('|', '.') }}</td>
                <td>{{ "{:,.2f}".format(fonte[18]).replace(',', '|').replace('.', ',').replace('|', '.') }}</td>
                <td>{{ "{:,.2f}".format(fonte[19]).replace(',', '|').replace('.', ',').replace('|', '.') }}</td>
                <td>{{ "{:,.2f}".format(fonte[20]).replace(',', '|').replace('.', ',').replace('|', '.') }}</td>
                <td>{{ "{:,.2f}".format(fonte[21]).replace(',', '|').replace('.', ',').replace('|', '.') }}</td>
                <td>{{ "{:,.2f}".format(fonte[22]).replace(',', '|').replace('.', ',').replace('|', '.') }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h1>Movimento Diário de Despesa</h1>

    <table>
        <thead>
            <tr>
                <th>DATAMOVIMENTO</th>
                <th>DOCUMENTO</th>
                <th>DETALHE</th>
                <th>TIPOMOVIMENTO</th>
                <th>HISTORICO</th>
                <th>FONTERECURSO</th>
                <th>VALORMOVIMENTO</th>
            </tr>
        </thead>
        <tbody>
            {% for diario in diarios %}
            <tr>
                <td>{{ diario[0].strftime('%d-%m-%Y') }}</td>
                <td>{{ diario[1] }}</td>
                <td>{{ diario[2] }}</td>
                <td class="left-align">{{ diario[3] }}</td>
                <td class="left-align">{{ diario[4] }}</td>
                <td>{{ diario[5] }}</td>
                <td>{{ "{:,.2f}".format(diario[6]).replace(',', '|').replace('.', ',').replace('|', '.') }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>

</html>